[mysql]
host=""
port=3306
user=""
password=""
db_name=""
sql_mode='STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
db_timezone='US/Eastern'
php_timezone='AMERICA/NEW_YORK'
[con]
label="ConTroll 2022"
conname="ConTroll"
org="The ConTroll Development Consortium"
orgabv="Club"
volunteers="volunteers@conname.org"
policy="https://conname.org/policies"
regpolicy="https://conname.org/policies"
privacypolicy="https://www.conname.org/privacy-policy/"
privacytext="See our privacy policy for how we use and share information"
policytext="conname Policies"
remindertext="May we include you in our annual reminder postcards and future marketing or survey emails?"
; endtext = text to put at the bottom of the receipt.
endtext=
regemail="registration2022@conname.org"
regadminemail="registration2022@conname.org"
regconfirmcc="registrationcc@conname.org"
infoemail="info2022@conname.org"
refundemail='info2022@conname.org'
feedbackemail='info2022@conname.org'
website="https://conname.org"
regpage="https://conname.org/registration/"
schedulepage="https://schedule.conname.org"
dailywebsite="https://conname.org"
pickupareatext="at the Registration table across from some where"
addlpickuptext="The hotel has free parking. You can find information at <a href='https://conname.org/location/directions' target='_blank'>https://conname.org/location/directions</a>."
hotelwebsite="https://conname.org/hotel"
hotelname="Hotel Name"
hoteladdr="Hotel Address"
survey_url="https://link-to-post-convention-survey"
id="2022"
taxRate=6
currency="USD"
minComp="2021"
compLen="150"
conLen="3"
server="https://reg.conname.org/"
rollover_eligible="'upgrade', 'rollover', 'freebie', 'standard', 'yearahead', 'discount'"
[debug]
google=0 ; to enable google debug statements (1=enable, 0=disable)
controll_admin=0 ; to enable controll admin tab debug statement (currently bitmask from 1-31) (1=enable, 0=disable)
controll_exhibitors=0 ; to enable controll exhibitors tab debug statement (currently bitmask from 1-31) (1=enable, 0=disable)
vendors=0 ; to enable vendor and artist admin tab debug statement (currently bitmask from 1-31) (1=enable, 0=disable)
usps=0 ; to enable usps address validation debug (currently bitmast from 1-31)
api:0 ; to enable api inteface debug statements (currently bitmask from 1-31) (1=enable, 0=disable)
portal=0 ; to enable regportal debug statements (currently bitmask from 1-31) (1=enable, 0=disable)
atcon=0 ; to enable atcon debug statements (currently bitmask from 1-31) (1=enable, 0=disable)
[reg]
https=1
test=0
open=1
;;; customtext
; appears in each program section based on program name
; values:
; all = show all customtext, even the default messages
; production = suppress the 'default' placeholder messages (an alias for this is nodefault)
; none = supporess all custom text
customtext='production'
registrationpage="https://reg.conname.org/"
close=0
suspended=0
suspendreason="while we examine the impact of COVID-19"
cancelled=0
cancel_date="Day, Month Day"
server="https://reg.conname.org/"
logoimage="conname2022.png"
logoalt="logo image alternate text"
logotext="Tagline not alt=text"
onsiteopen="3:00 PM"
; required person field sets
;   all = require all fields: first, last, addr, city, st, zip, country, email
;   first = require only first name: first, country, email
;   addr = first, addr, city, st, zip, country, email
required="all"
[atcon]
; valid types are
; 	manager - requires manager logged in
;	active - manager override enabled
;	any - any POS user can handle discount
;	none - disable the discount type of payment
discount=active
; badgeps = fill path to the Postscript header for printing badges
badgeps="/home/homedir/config/conname.ps"
;;; customtext
; appears in each program section based on program name
; values:
; all = show all customtext, even the default messages
; production = suppress the 'default' placeholder messages (an alias for this is nodefault)
; none = supporess all custom text
customtext='production'
[vendor]
test=0
open=1
;;; customtext
; appears in each program section based on program name
; values:
; all = show all customtext, even the default messages
; production = suppress the 'default' placeholder messages (an alias for this is nodefault)
; none = supporess all custom text
customtext='production'
;vendors: email address for generic vendor emails
;vendorsite: url to vendor website
vendor="dealers@???"
vendorsite="http://vendor"
; path to file in config of any additional text you wish to add to explain the signup form for vendor portal
vendorSignupAddltext=""
artistsite="http://artist"
artist="artists@???"
# pathto file in config any additional text you wish to add to explain the signup form for artist portal
;; artist Item Registration Headers, if omitted, the defaults are used
;artistItemAuctionTitle="Art Auction Items"
;artistItemSalesTitle="Art Sales / Print Shop Items"
;artistItemNFSTitle="Display Only / Not For Sale Items"
; lines = number of bid lines, numbers are which of those are numbreed, Sep is to show seperation lines (vertical lines) in the bid rows (1=yes, 0=no)
; NOTE: if barcode is used, 3x2 format is max BidSheetLines of 3, 2x2 is max of 7, and overall max is 22
;       if barcode is not used, 3x2 format is max BidSheetLines of 4, 2x2 is max of 8, and overall max is 23
artistBidSheetLines=4
artistBidSheetNumbers=3
artistBidSheetBidSep=1
;artistBidSheet and artistPriceTag are the titles to print on the bid sheets and print price tags
;artistBidSheet=
;artistPriceTag=
; bar codes: 0 = no barcode, 1 = show barcode, bar code is code128 and contains art item id,count (count = 1 for bid sheets and the "n" of qty for print shop)
artistBidSheetBarcode = 1;
artistPriceTagBarcode = 1;
;artistOnSiteInventoryReqHTML, artistOnSiteInventoryReqText, artistMailInInventoryReqHTML, artistMailInInventoryReqText are the file names for the contents for the artist inventory request emails
;artistOnSiteInventoryReqHTML=
;artistOnSiteInventoryReqText=
;artistMailInInventoryReqHTML=
;artistMailInInventoryReqText=
; pathto file in config any additional text you wish to add to explain the signup form for artist portal
artistSignupAddltext=""
; artist bid sheets, artistBidSheetNumbers = number of bid lines, of which artistBidSheetNumbers are numbered if lines <=4, it will use up 2x3 Landscape, if >4 and less that X it will use 2x2 Portrait format, if > X it will use 2x1 portrait format
artistBidSheetLines=4
artistBidSheetNumbers=3
; name for artist bid sheet header (independent of art area)
artistBidSheet="Demo 2024 Art Show Bid Sheet"
; name for artist print shop price tag header (independent of art area)
artistPriceTag=""
taxidlabel="NJ Sales Tax ID"
taxidextra=
;; disclaimers are path to file in config directory contain the request and payment disclaimers
req_disclaimer=""
pay_disclaimer=""
artsheets=false ; true/false show sheet print buttons
artcontrol=false ; true/false show control sheet print button
[client]
path = "/home/homedir/reg.conname.org/controll"
[google]
app_name="ConTroll Registration Controller"
redirect_base="https://controll.conname.org"
json="/home/homedir/config/conname.json"
client_id=""
client_secret=""
[cc]
; valid types are 'square', 'test' or 'bypass' (Note: bypass and test are for testing only and requires localhost or test=1)
; appid, token, location come from your square api setup
; apiversion comes from the square api site and sdk
type=square
appid=""
token=""
env="production"
location=""
apiversion=""
webpaysdk="https://web.squarecdn.com/v1/square.js"
[log]
  web = "/home/homedir/reglogs/web"
  reg = "/home/homedir/reglogs/onLineReg"
  artshow = "/home/homedir/reglogs/artshowReg"
  vendors='/home/psfs/reglogs/vendors'
  cancel = "/home/homedir/reglogs/cancel"
  db = "/home/homedir/reglogs/db"
[email]
; valid types are 'aws', 'mta', 'symfony', 'file'
;; for aws:
;;  type="aws"
;;  aws_access_key_id=""
;;  aws_secret_access_key=""
;;  username=""
;;  region="us-east-2"
;;  version="2010-12-01"
;;
;; for mta
;;  type="mta"
;;	  uses php.ini mail setup
;;    note: text email only, html email ignored
;;
;; for symfony
;;  type="symfony"
;;  transport="transport-type"  (one of smtp, ses+smtp, ses+https, )
;;  host="FQDN:port"
;;  username="" (optional, for ses+https this is the access key)
;;	password="" (optional, for ses+https this is the secret key)
; batchsize = number of emails to send before delay, 0 = unlimited
  batchsize=10
; delay = sleep in seconds between batches, 0 = no delay and unlimited batchsize
  delay=1
[artshow]
test=0
open=1
suspended=1
close=0
max_failures=10
;;; customtext
; appears in each program section based on program name
; values:
; all = show all customtext, even the default messages
; production = suppress the 'default' placeholder messages (an alias for this is nodefault)
; none = supporess all custom text
customtext='production'
url="https://reg.conname.org/artshow"
[portal]
;; membership portal items
test=0
open=1
suspended=0
suspendreason="while we examine the impact of COVID-19"
https=1
;;; customtext
; appears in each program section based on program name
; values:
; all = show all customtext, even the default messages
; production = suppress the 'default' placeholder messages (an alias for this is nodefault)
; none = supporess all custom text
customtext='production'
; portalsite = URL to login page (the default index.php location is all you need)
; redirect_base = URI for OAUTH2 returns, it should also be the login page and must match what you configured in the OAUTH2 providers
; emailHrs = number of hours a login by email session can last, not the link expiration time
; oauthHrs = number of hours an oauth session can last
; the portal also has it's own logo variables as logoimage and logoalt
; history = 1 = show membership history menu item, 0 = suppress, missing/null = show
portalsite=""
redirect_base=""
logoimage=""
logoalt=""
emailhrs=24
oauthhrs=8
history=1
;; memberbadgencolor: hex string of the color of the membership "badges" on the portal home screen, to override the standard color scheme
;;       note; standard color scheme has the buttons having a color that describe the membership type, the legend supports this color scheme
;;           the override is a single color for all of the badges.  Presence of this line will auto suppress the legend.
;; suppresslegend: if memberbasgecolor is not used, missing or 0 will show the legend, 1 will suppress the legend
;memberbadgecolors="#000000"
;suppresslegend=0
; helppage = path to the help page relative to the web root of the portal page
; helppage=
; showConPolicy - shows the "CLick here for the #conname# Policies",
;     set to 0 if agree to policy is one of your policies or 1 otherwise
showConPolicy=1
; showVolunteerPolicy - shows the "#Conname# is entirely run by volunteers" line in the policy block,
;      set to 0 if volunteers is in your interest section, 1 otherwise
showVolunteerPolicy=1
; nomdate = cutoff for WSFS nominations memberships, older than this can nominate
; nomdate="YYYY/MM/DD"
[api]
path = "" ; full path to the api directory
oauthEncryptionKey= "" ; set your oauth2Server encryption key
[usps]
;	you can obtail clientId and secrets from the usps developers forum.  These are for the v3 API
;	if these are blank or missing, the usps validation is not enabled.
clientId=
secret=
[controll]
clubname='Club Name'
; badgelistfilter - where to put the filter elements on the badgelist page ("top", "bottom")
badgelistfilter="top"
; useportal - does this installation use the portal, 1 = yes, 0 = no
useportal=1