;;; reg_secret.ini
;;; This file contains passwords, api keys, and other internal information
;;; This file contains the entire contents of these sections and these sections should not appear in any other config file.
;;; When this file is loaded, it will overwrite the entire section, so no overrides are allowed by the other files.

;;; mysql setup / database access parameters (also used for mariadb)
[mysql]
host="localhost"
port=3306
user="required"
password="required"
db_name="required"
; this is the recommented sql_mode parameters, you can filter out the ones that are your defaults for your system already
sql_mode='REAL_AS_FLOAT,PIPES_AS_CONCAT,ANSI_QUOTES,IGNORE_SPACE,ONLY_FULL_GROUP_BY,ANSI,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
; time zones need to be installed in mysql/mariadb if not already in there, doing so is beyond the scope of ConTroll as this is a system wide function
db_timezone='US/Eastern'
php_timezone='AMERICA/NEW_YORK'

;;; The absolute directoy to the controll back end portion of the system. This is required.
[client]
path = "/home/homedir/reg.conname.org/controll"

;;; Items related to logon with google, your google administator will provide the json file, which should be saved in the config directory,
;       client_id and client_secret.
;   You will need to provide to them the URLs and URIs of which URL's can refer to Google for authentication
;       and which URI's google is allowed reply with the results.
;   The app_name is displayed by Google as who is requesting the login authentication
;   Even if login with google is not enabled in the portal, it is always enabled for the controll back end, so this section is always required.
[google]
app_name="ConTroll Registration Controller"
redirect_base="https://controll.conname.org"
json="/home/homedir/config/conname.json"
client_id="required"
client_secret="required"

;;; Items related to your credit card vendor go in this section
;       At present beside the test values, only Square's API is supported
;       Test is not the Square sandbox, but a local test that emualates the flow, but does not contact Square at all.
[cc]
; valid types are 'square', 'test' or 'bypass' (Note: bypass and test are for testing only and requires localhost or test=1)
; appid, token, location come from your square api setup, note: env= sandbox (test systems) or production
;
; location = mail in reg location in Square
; additional locations: locationXXX = locations in Square for terminals, where XXX = name of the terminal
;    with spaces converted to _'s and first letter capitalized
; Additional locations for portions of the system are also located here.  They start with location_ instead of just location
type=square
appid=""
token=""
env="production"
location=""
; sample potential terminal location entries
;locationRegistration=""
;locationArtshow=""
; applictation location items, default to 'location' if not specified or empty
; Note: for atcon which is terminal based, these locations apply only to 'online credit card' mode, not terminal mode.
;   The terminal's location (value when terminal is created) controls terminal mode.
; location_portal=""
; location_artist=""
; location_vendor=""
; location_exhibithall=""
; location_fantable=""
; location_controllreg=""
; location_controllexhibits=""
; location_atcon_regpos=""
; location_atcon_artpos=""
; production: webpaysdk="https://web.squarecdn.com/v1/square.js"
; sandbox: webpaysdk="https://sandbox.web.squarecdn.com/v1/square.js"
webpaysqk=

;;; Items related to back end Email Delivery
;   See your systems admin for what to set up here.
[email]
;;; valid types are 'aws', 'mta', 'symfony', 'file'
; for aws:
;  type="aws"
;  aws_access_key_id=""
;  aws_secret_access_key=""
;  username=""
;  region=""
;  version=""
;
; for mta
;  type="mta"
;	  uses php.ini mail setup
;    note: text email only, html email ignored
;
; for symfony
;  type="symfony"
;  transport="transport-type"  (one of smtp, ses+smtp, ses+https, )
;  host="FQDN:port"
;  username="" (optional, for ses+https this is the access key)
;	password="" (optional, for ses+https this is the secret key)
;   a type is required, but the word required is not a valid type, you must change it to one of the types above
type="required"
;;; items independent of mailer type
;;; batchsize = number of emails to send before delay, 0 = unlimited
; batchsize=50
batchsize=
;;; delay = sleep in seconds between batches, 0 = no delay and unlimited batchsize
; delay=1
delay=

[usps]
;   parameters for the UPS api for address standardization.
;	you can obtain clientId and secrets from the usps developers forum.  These are for the v3 API
;	if these are blank or missing, the usps validation is not enabled.
clientId=
secret=

;;; note, api is a future and not currenty in use
[api]
;path = "" ; full path to the api directory
;oauthEncryptionKey= "" ; set your oauth2Server encryption key

;;; note, oauth server is currently removed from the system pending future development
[oauth]
;;; serverKey - a 32 character random alphanumeric string, generate using any pasword generator
;serverKey=
