[mysql]
host=""
port=3306
user=""
password=""
db_name=""
sql_mode='STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
db_timezone='US/Eastern'
php_timezone='AMERICA/NEW_YORK'
[con]
label="Philcon 2022"
conname="Philcon"
org="Philadelphia Science Fiction Society"
orgabv="PSFS"
volunteers="volunteers2022@philcon.org"
policy="https://philcon.org/policies"
regpolicy="https://philcon.org/policies"
policytext="Philcon Policies"
regemail="registration2022@philcon.org"
regadminemail="registration2022@philcon.org"
infoemail="info2022@philcon.org"
refundemail='info2022@philcon.org'
feedbackemail='info2022@philcon.org'
website="https://philcon.org"
regpage="https://philcon.org/registration/"
schedulepage="https://schedule.philcon.org"
dailywebsite="https://philcon.org"
pickupareatext="at the Registration table across from Crystal 1 in the Crystal Foyer"
addlpickuptext="The hotel has free parking. You can find information at <a href='https://philcon.org/location/directions' target='_blank'>https://philcon.org/location/directions</a>."
hotelwebsite="https://philcon.org/hotel"
hotelname="The Doubletree by Hilton Hotel, Cherry Hill/Philadelphia"
hoteladdr="2349 Marlton Pike West, Cherry Hill, New Jersey, 08002"
survey_url="https://link-to-post-convention-survey"
id="2022"
taxRate=6
minComp="2021"
compLen="150"
conLen="3"
server="https://reg.philcon.org/"
[reg]
https=1
test=0
open=1
registrationpage="https://reg.philcon.org/"
close=0
suspended=0
suspendreason="while we examine the impact of COVID-19"
suspendmessage="https://philcon.org"
cancelled=0
cancel_date="Day, Month Day"
server="https://reg.philcon.org/"
logoimage="philcon2022.png"
logotext="Tagline not alt=text"
onsiteopen="3:00 PM"
[vendor]
test=0
open=1
artshow = "artshow2020philcon.org"
alley = "artshow2020philcon.org"
dealer = "dealer2020philcon.org"
[client]
path = "/home/psfs_reg/reg.philcon.org/reg_control"
[google]
app_name="Philcon Registration Controller"
redirect_base="https://reg.philcon.org/reg_control"
json="/home/psfs_reg/config/philcon.json"
client_id=""
client_secret=""
[cc]
; valid types are 'square', 'convergepay' or 'bypass' (Note: bypass is for testing only and requires localhost or test=1)
type=square
appid=""
token=""
env="production"
location=""
webpaysdk="https://web.squarecdn.com/v1/square.js"
[log]
  web = "/home/psfs_reg/reglogs/web"
  reg = "/home/psfs_reg/reglogs/onLineReg"
  artshow = "/home/psfs_reg/reglogs/artshowReg"
  cancel = "/home/psfs_reg/reglogs/cancel"
[email]
; valid types are 'aws', 'mta', 'symfony', 'file'
;; for aws:
;;  type="aws"
;;  aws_access_key_id=""
;;  aws_secret_access_key=""
;;  username=""
;;  region="us-east-2"
;;  version="2010-12-01"
;;
;; for mta
;;  type="mta"
;;	  uses php.ini mail setup
;;    note: text email only, html email ignored
;;
;; for symfony
;;  type="symfony"
;;  transport="transport-type"  (one of smtp, ses+smtp, ses+https, )
;;  host="FQDN:port"
;;  username="" (optional, for ses+https this is the access key)
;;	password="" (optional, for ses+https this is the secret key)
; batchsize = number of emails to send before delay, 0 = unlimited
  batchsize=10
; delay = sleep in seconds between batches, 0 = no delay and unlimited batchsize
  delay=1
[artshow]
test=0
open=1
suspended=1
close=0
max_failures=10
url="https://reg.philcon.org/artshow"
[user]
server="https://atcon.philcon.org/server_side"
user="online_atcon"
passwd="online_atcon"
[control]
clubperm='psfs'
clubname='PSFS'
