;;; reg_secret.ini
;;; This file contains passwords, api keys, and other internal information
;;; This file contains the entire contents of these sections and these sections should not appear in any other config file.
;;; When this file is loaded, it will overwrite the entire section, so no overrides are allowed by the other files.

;;; mysql setup / database access parameters (also used for mariadb)
[mysql]
host="localhost"
port=3306
user="required"
password="required"
db_name="required"
; this is the recommented sql_mode parameters, you can filter out the ones that are your defaults for your system already
; sql_mode='REAL_AS_FLOAT,PIPES_AS_CONCAT,ANSI_QUOTES,IGNORE_SPACE,ONLY_FULL_GROUP_BY,ANSI,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,
ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
; This is the minimal one that we know works with everything.  Some of the code still has issues with ONLY_FULL_GROUP_BY.
sql_mode='STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
; time zones need to be installed in mysql/mariadb if not already in there, doing so is beyond the scope of ConTroll as this is a system wide function
db_timezone='US/Eastern'
php_timezone='AMERICA/NEW_YORK'

;;; The absolute directory to the controll back end portion of the system. This entry is required.
[client]
path = "/home/homedir/reg.conname.org/controll"

;;;; This is the oauth2 provider section. Only google is required, the others are optional.
;;        See the System-Documents-and-Coding-Standards file Adding-Oauth2-Client-Configs.md for how to set up the oauth2 Providers
;;        And how to find the parameters for the appropriate sections below.

;;; Login With Google [google]
;   Even if login with google is not enabled in the portal, it is always enabled for the controll back end, so this section is always required.
[google]
app_name="ConTroll Registration Controller"
client_id="required"
client_secret="required"

;; Login With Amazon [amazon]
; [amazon]
; app_name=
; client_id=
; client_secret=

;; Login With Facebook [facebook]
; [facebook]
; app_name=
; client_id=
; client_secret=

;; Login With Microsoft [microsoft]
; [microsoft]
; app_name=
; client_id=
; client_secret=

;; Login With Yahoo [yahoo]
; [yahoo]
; app_name=
; app_id=
; client_id=
; client_secret=

;;; Items related to your credit card vendor go in this section
;       At present beside the test values, only Square's API is supported
;       Test is not the Square sandbox, but a local test that emualates the flow, but does not contact Square at all.
[cc]
; valid types are 'square', 'stripe', or 'test' (Note: test is for testing only and requires localhost or test=1)
; appid, token, location come from your square api setup, note: env= sandbox (test systems) or production
;; entries for square:
; type=square
; env= [production | sandbox ]
; appid="appid from your square api setup, use appropraite one for production or sandbox"
; token="token (security id) from your square api setup, use appropraite one for production or sandbox"
; location="default location code from your business setup, sandbox only supports a specific one, production has a default one and variants you can set up"
; additional locations: locationXXX = locations in Square for terminals, where XXX = name of the terminal
;   with spaces converted to _'s and first letter capitalized
; Note: for atcon which is terminal based, these locations apply only to 'online credit card' mode, not terminal mode.
;   The terminal's location (value when terminal is created) controls terminal mode.
; location_portal=""
; location_artist=""
; location_vendor=""
; location_exhibithall=""
; location_fantable=""
; location_controllreg=""
; location_controllexhibits=""
; location_atcon_regpos=""
; location_atcon_artpos=""
;; production: webpaysdk="https://web.squarecdn.com/v1/square.js"
;; sandbox: webpaysdk="https://sandbox.web.squarecdn.com/v1/square.js"
; webpaysdk="https://web.squarecdn.com/v1/square.js, check your square setup to see if this changes"
;
;; stripe:
; type=stripe
; env= [ sandbox | ??? ] // what is production called in stripe
; country=[2 letter ISO code] // country your account is located, e.g. US.
; key="sk_ key, note: sandbox (test) keys start with sk_test"
; pkkey="pi_ key, note sandbox (test) keys start with pk_test" // this is the publishable key used by the client side of the api (web)
; acct="acct_..." // this is your account id from your stripe api setup
; websdk="https://js.stripe.com/dahlia/stripe.js" // this will vary as the releases of the sdk change, you will need to update this to match the current release
; redirectURL="https://yourdomain/reg page for redirects for further authorization" // use tbd, is required, but we haven't decided how to handle this yet
;; allowedCCBrands, if specified limit accepted credit card brands to those listed in this string, valid values are (case sensitive):
;;  amex, cartes_bancaires, diners, discover, eftpos_au, jcb, link, mastercard, unionpay, visa
;;  omit this line to accept any brands valid in your region (not all brands are valid in all regions).
;;  names are comma separated, without blanks between names.
;;  note: this is a post card entry check, stripe currently does not limit cards able to be entered in the form.
; allowedCCBrands="mastercard,visa"

; Additional locations for portions of the system are also located here.  They start with location_ instead of just location
type=square
appid=""
token=""
env="production"
location=""
; sample potential terminal location entries
;locationRegistration=""
;locationArtshow=""
; applictation location items, default to 'location' if not specified or empty
; Note: for atcon which is terminal based, these locations apply only to 'online credit card' mode, not terminal mode.
;   The terminal's location (value when terminal is created) controls terminal mode.
; location_portal=""
; location_artist=""
; location_vendor=""
; location_exhibithall=""
; location_fantable=""
; location_controllreg=""
; location_controllexhibits=""
; location_atcon_regpos=""
; location_atcon_artpos=""
; production: webpaysdk="https://web.squarecdn.com/v1/square.js"
; sandbox: webpaysdk="https://sandbox.web.squarecdn.com/v1/square.js"
webpaysqk=

;;; Items related to back end Email Delivery
;   See your systems admin for what to set up here.
[email]
;;; valid types are 'aws', 'mta', 'symfony', 'file'
; for aws:
;  type="aws"
;  aws_access_key_id=""
;  aws_secret_access_key=""
;  username=""
;  region=""
;  version=""
;
; for mta
;  type="mta"
;	  uses php.ini mail setup
;    note: text email only, html email ignored
;
; for symfony
;  type="symfony"
;  transport="transport-type"  (one of smtp, ses+smtp, ses+https, )
;  host="FQDN:port"
;  username="" (optional, for ses+https this is the access key)
;	password="" (optional, for ses+https this is the secret key)
;   a type is required, but the word required is not a valid type, you must change it to one of the types above
type="required"
;;; items independent of mailer type
;;; batchsize = number of emails to send before delay, 0 = unlimited
; batchsize=50
batchsize=
;;; delay = sleep in seconds between batches, 0 = no delay and unlimited batchsize
; delay=1
delay=

[usps]
;   parameters for the UPS api for address standardization.
;	you can obtain clientId and secrets from the usps developers forum.  These are for the v3 API
;	if these are blank or missing, the usps validation is not enabled.
clientId=
secret=

;;; note, api is a future and not currenty in use
[api]
;path = "" ; full path to the api directory
;oauthEncryptionKey= "" ; set your oauth2Server encryption key

;;; note, oauth server is currently removed from the system pending future development
[oauth]
;;; serverKey - a 32 character random alphanumeric string, generate using any pasword generator
;serverKey=
