;;; reg_secret.ini
;;; This file contains passwords, api keys, and other internal information
;;; Generally this file contains the entire contents of these sections and these sections should not appear in any other config file

; mysql setup / database access parameters (also used for mariadb)
[mysql]
host=""
port=3306
user=""
password=""
db_name=""
; this is the recommented sql_mode parameters, you can filter out the ones that are your defaults for your system already
sql_mode='REAL_AS_FLOAT,PIPES_AS_CONCAT,ANSI_QUOTES,IGNORE_SPACE,ONLY_FULL_GROUP_BY,ANSI,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
; time zones need to be installed in mysql/mariadb if not already in there
db_timezone='US/Eastern'
php_timezone='AMERICA/NEW_YORK'

[client]
path = "/home/homedir/reg.conname.org/controll"

[google]
app_name="ConTroll Registration Controller"
redirect_base="https://controll.conname.org"
json="/home/homedir/config/conname.json"
client_id=""
client_secret=""

[cc]
; valid types are 'square', 'test' or 'bypass' (Note: bypass and test are for testing only and requires localhost or test=1)
; appid, token, location come from your square api setup, note: env= sandbox or production
;
; location = mail in reg location in Square
; additional locations: locationXXX = locations in Square for terminals, where XXX = name of the terminal
;    with spaces converted to _'s and first letter capitalized
type=square
appid=""
token=""
env="production"
location=""
;locationRegistration=""
;locationArtshow=""
webpaysdk="https://web.squarecdn.com/v1/square.js"

[email]
; valid types are 'aws', 'mta', 'symfony', 'file'
;; for aws:
;;  type="aws"
;;  aws_access_key_id=""
;;  aws_secret_access_key=""
;;  username=""
;;  region=""
;;  version=""
;;
;; for mta
;;  type="mta"
;;	  uses php.ini mail setup
;;    note: text email only, html email ignored
;;
;; for symfony
;;  type="symfony"
;;  transport="transport-type"  (one of smtp, ses+smtp, ses+https, )
;;  host="FQDN:port"
;;  username="" (optional, for ses+https this is the access key)
;;	password="" (optional, for ses+https this is the secret key)
;;; items independent of mailer type
; batchsize = number of emails to send before delay, 0 = unlimited
batchsize=10
; delay = sleep in seconds between batches, 0 = no delay and unlimited batchsize
delay=1

[usps]
;	you can obtail clientId and secrets from the usps developers forum.  These are for the v3 API
;	if these are blank or missing, the usps validation is not enabled.
clientId=
secret=

;;; note, api is a future and not currenty in use
[api]
path = "" ; full path to the api directory
oauthEncryptionKey= "" ; set your oauth2Server encryption key

;;; note, oauth server is currently removed from the system pending future development
[oauth]
;;; serverKey - a 32 character random alphanumeric string, generate using any pasword generator
;serverKey=