input.need {
  background-color: red;
}

span.req, .warn {
  font-weight: bold;
  color: red;
}

.hidden { 
  display: none;
  }

.nodisplay { 
  visibility: hidden;
  }

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
