# vi Stuff
*.swp
*.bak
*~
# local instance directories not part of release
/config/
/crons/
/cronlog/
/backups/
/Composer/vendor
/reglogs/
/UserDoc/

# images directories not used by Controll
/atcon/images/
/onlinereg/images/
/vendor/images/

# stuff for local overrides
.htaccess
.htaccess.sav
/version.txt
# Visual Studio Stuff
/.vs/
/BalticonReg.phpproj
/BalticonReg.sln
/BalticonReg.phpproj.user
/launchSettings.json

# The images need to be removed as we switch to the new image style, the others in section eed review.
/onlinereg/newbadge.html
/onlinereg/javascript/d3-7.js

#phpstorm
/.idea/
/.idea/.gitignore
/.idea/BalticonReg.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml

# placeholder for obsolete stuff
/atcon/scripts/obsolete/
/onlinereg/reg_control/scripts/obsolete
# asre these two obsolete ones still needed and are they relative
onlinereg/onlineReg/
dead
