*.swp
*.bak
*~
# local instance directories not part of release
/config/
/crons/
/cronlog/
/backups/
/Composer/vendor
/reglogs/
/UserDoc/
.htaccess
.htaccess.sav
# Visual Studio Stuff
/.vs/
/BalticonReg.phpproj
/BalticonReg.sln
/BalticonReg.phpproj.user
dead
/launchSettings.json
/onlinereg/newbadge.html
/onlinereg/javascript/d3-7.js
/onlinereg/images/balticon56.png
/onlinereg/images/balticon57.png

#phpstorm
/.idea/
/.idea/.gitignore
/.idea/BalticonReg.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml

# placeholder for obsolete stuff
onlinereg/onlineReg/
/atcon/scripts/obsolete/
/onlinereg/reg_control/scripts/obsolete
