*.swp
*.bak
*~

/config/
/Composer/
/google_client/

# Visual Studio Stuff
/.vs/
/BalticonReg.phpproj
/BalticonReg.sln
/BalticonReg.phpproj.user
/google_client
dead
.htaccess
/launchSettings.json
/onlinereg/newbadge.html
/onlinereg/javascript/d3-7.js
/onlinereg/images/balticon56.png
/onlinereg/images/balticon57.png
