#facets {
    width: 12em;
    border: 1px solid #a9f;
    float: left;
    padding: 0px 1px;
    margin: 0px 1px;
}

#table {
    border: 1px solid #a9f;
    display: inline-block;
    padding: 0px 1px;
}

tr.changed:nth-child(2n) {
    background-color: #ff3;
}

tr.changed:nth-child(2n+1) {
    background-color: #ff9;
}

