body {
    font-family: Arial,sans-serif;
    margin: auto;
    padding: 10px;
}

.titlebar {
    width: 100%;
    margin: 0px;
    background-color: #aa55ff;
}

.navitem {
    background-color: #e8a0ff;
}

h1.title {
    margin: 0px;
    padding: 5px;
}

.righttext {
    text-align: right;
}
.right {
    float: right;
}
.left { 
    float: left;
}

.blocktitle { 
    font-size: large;
    font-weight: bold;
}

#main {
    padding: 0px;
    margin: 0px;
    border: 3px solid #a5f;
}

.need {
    border-color: red;
    background-color: #fef;
}

.warn {
    color: red
}

label.blocks {
    display: inline-block;
    width: 12ch;
    white-space: nowrap;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* tabulator pagination styling */
button.tabulator-page {
    background: hsla(0,0%,100%,.2);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
}

button.tabulator-page.active {
    color: #d00
}

button.tabulator-page:disabled {
    opacity: .5
}

div.tabulator-paginator {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

select.tabulator-page-size {
    padding-left: 8px;
}
