#newPerson td.center {
    vertical-align: top;
    text-align: center;
}
div.popup {
    display: none;
    position: fixed;
    top: 45px;
    left: 5px;
    padding: 2px;
    margin: 2px;
    border: 5px solid #aa00ff;
    background-color: white;
    opacity: 1;
    word-wrap: break-word;
    overflow: auto;
}

