body {
    font-family: Arial,sans-serif;
    margin: auto;
    padding: 10px;
}

#login {
    background-color: #ccc;
    border-color: #ccc
}

h1.title {
    margin: 0px;
    padding: 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.right {
    float: right;
}
.left { 
    float: left;
}

.blocktitle { 
    font-size: large;
    font-weight: bold;
}


.tabbar {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.tabbar span {
    border: 1px solid #a5f;
    margin: 0px;
    padding: 0px 5px;
}

span.tab {
    background-color: #c7f;
}
span.tab a {
    color: black;
    text-decoration: none;
}
span.activeTab {
    background-color: #a5f;
}
span.activeTab a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div {
    overflow: auto;
}

#main {
    padding: 0px;
    margin: 0px;
    border: 3px solid #a5f;
}

div.half {
    margin: 2px;
    border: 1px solid #a7f;
    width: auto;
    height: 100%;
}

.inline {
    display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

form table, form tfoot {
    border: 2px solid #a0f;
    margin: 0px;
    border-collapse: collapse;
}

form tbody.noborder th {
    border: none;
    font-size: x-small;
    padding-bottom: 0px;
    padding-top: 2px;
}

form tfoot td, form thead td {
    padding: 3px;
}

form tbody {
    border: 1px solid #aa00ff;
    border-collapse: collapse;
}

form td {
    border: 0px;
    vertical-align: bottom;
    padding: 0px;
}

.small, td.formlabel{
    font-size: x-small;
    padding-bottom: 0px;
    padding-top: 2px;
}

th.formlabel {
    font-size: x-small;
    padding-bottom: 0px;
    padding-top: 2px;
    width: 0.5in;
}

tbody.scroll {
  max-height: 6in;
  overflow: scroll;
}

.formlabel, td.small {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

table.inline {
    display: inline-table;
    border: none;
}
table.inline td,table.inline tbody {
    border: none;
}

.button {
    margin: 2px;
    padding: 2px;
    border: 5px outset #a5f;
    font-size: small;
}

.banned, .locked {
    background-color: #ffcccc;
}
.note, .changed {
    background-color: #ffff00;
}

.notice {
    font-size: larger;
    font-weight: bold;
}
div.popup {
    display: none;
    position: fixed;
    top: 45px;
    left: 45px;
    padding: 2px;
    margin: 2px;
    border: 5px solid #aa00ff;
    background-color: white;
    opacity: 1;
    word-wrap: break-word;
    overflow: scroll;
}

input.need {
    background-color: #fcc;
    border-color: #f00;
}

input:placeholder-shown {
    font-style: italic;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
