body {
    font-family: Arial,sans-serif;
    margin: auto;
    padding: 10px;
}

h1.title {
    margin: 0px;
    padding: 5px;
}

.right {
    float: right;
}
.left { 
    float: left;
}


.banned, .locked {
    background-color: #ffcccc;
}
.note, .changed {
    background-color: #ffff00;
}

.notice {
    font-size: larger;
    font-weight: bold;
}

input.need {
    background-color: #fcc;
    border-color: #f00;
}

span.need {
    background-color: rgba(255,0,0,0.3);
}

select.need {
    background-color: rgba(255,0,0,0.3);
}

input:placeholder-shown {
    font-style: italic;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

span.req, .warn {
    font-weight: bold;
    color: red;
}

/* tabulator pagination styling */
button.tabulator-page {
    background: hsla(0,0%,100%,.2);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
}

button.tabulator-page.active {
    color: #d00
}

button.tabulator-page:disabled {
    opacity: .5
}

div.tabulator-paginator {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

select.tabulator-page-size {
    padding-left: 8px;
}
